/* Base - @begin */

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bullets {
    &.ol {
        list-style: inside decimal;
    }
    &.ul {
        list-style: inside disc;
    }
}

/* Base - @end */
