// deprecated from 2k16.v.1
@mixin box-sizing($sizing:border-box) {
    -webkit-box-sizing: $sizing;
       -moz-box-sizing: $sizing;
        -ms-box-sizing: $sizing;
            box-sizing: $sizing;
}
