// variables

// colors
$white         : #fff;
$optical-white : #fafafa;
$black         : #1e1e1e;
$real-black    : #000;

// sizes
$pad-module    : 10px;

// fonts
$sans          : $helvetica;
$serif         : $georgia;
$mono          : $monospace;

// images / icons
