// variables

// colors
$white            : #fff;
$optic-white      : #fafafa;
$black            : #1e1e1e;
$real-black       : #000;

$overlay-bg       : rgba(0,0,0,0.75);
$overlay-bg-light : rgba(255,255,255,0.65);

// fonts
$sans  : $helvetica;
$serif : $georgia;
$mono  : $monospace;
$icon  : 'FontAwesome';

// font sizes
// NOTE:
// html has font-size: 62.5% so 1rem = 10px
$base-font-size   : 1.4rem;
$mobile-font-size : 1.6rem;

// sizes
$pad-module  : 10px;
$icon-height : $base-font-size;
$icon-width  : $base-font-size;

// images / icons
