// variables

// colors
@import "colors";

// fonts (from bourbon font-stack)
$sans  : $helvetica;
$serif : $georgia;
$mono  : $monospace;
$icon  : 'FontAwesome';

// font sizes
// NOTE: <html> has font-size: 62.5% so 1rem = 10px
$base-font-size   : 1.6rem;
$small-font-size  : 1.4rem;

// font-weight modifiers
$thin  : 100;
$light : 300;
$roman : 400;
$semi  : 500;
$demi  : 600;
$bold  : 700;
$extra : 800;

// sizes
$pad         : 1rem;
$icon-height : $base-font-size;
$icon-width  : $base-font-size;

// breakpoints
$phablet-up   : '( min-width: 480px )'; // 480px
$phablet-down : '( max-width: 767.9px )'; // 768px
$tablet-up    : '( min-width: 768px )'; // 768px
$tablet-down  : '( max-width: 1039.9px )'; // 1040px
$desktop-up   : '( min-width: 1040px )'; // 1040px
$big-up       : '( min-width: 1280px )'; // 1280px
$huge-up      : '( min-width: 1440px )'; // 1440px

// mediaquery limits
$not-small : '#{$phablet-up}';
$medium    : '#{$phablet-up} and #{$tablet-down}';
$tablet    : '#{$tablet-up} and #{$tablet-down}';
$desktop   : '#{$desktop-up}';
$large     : '#{$big-up}';
$huge      : '#{$huge-up}';

// images / icons
// put here variables with base64 encoded images/svgs/etc...
