/* Setup - @begin */
html {
    box-sizing: border-box;

    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

    // 1rem === 10px 
    font-size: 62.5%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $sans;
    font-size: $base-font-size;

    -ms-word-wrap: break-word;
        word-wrap: break-word;
       word-break: break-word; //non-standart css for webkit

    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;

    // enabling fancy ligatures when available
    -webkit-font-feature-settings: "liga", "dlig";
       -moz-font-feature-settings: "liga=1, dlig=1";
        -ms-font-feature-settings: "liga", "dlig";
         -o-font-feature-settings: "liga", "dlig";
            font-feature-settings: "liga", "dlig";
}

// Headings
h1,
h2,
h3,
h4 {
    font-family: $serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto $pad-module;
    font-weight: bold;
    line-height: normal;
}
h1 {
    font-size: $base-font-size*2.5;
}
h2 {
    font-size: $base-font-size*2;
}
h3 {
    font-size: $base-font-size*1.8;
}
h4 {
    font-size: $base-font-size*1.5;
}
h5 {
    font-size: $base-font-size;
}
h6 {
    font-size: $base-font-size*0.9;
}

// Lists
ol {
    list-style: inside decimal;

}
ul {
    list-style: inside disc;
}
ol,
ul {
    margin: $pad-module auto;
}
ol ol,
ul ul,
ol ul,
ul ol {
    margin-left: $pad-module*3;
    font-size: 90%;
}
ol ol,
ul ol {
    list-style-type: upper-roman;
}
ol ul,
ul ul {
    list-style-type: square;
}
li {
    margin: 0 auto $pad-module;
}

// Links
a,
button {
    color: inherit;
}

// Images
img {
    max-width: 100%;
    height: auto;
}

/* Setup - @end */


/* TESTING STUF -- TO BE REMOVED */


@include normalize-form();
.form {
    button,
    select,
    textarea,
    input:not([type="radio"]):not([type="checkbox"]) {
    }
    input[type="file"] {
    }
}
