/* Grid System - @begin */

$gutter: $pad;

// using a mixin since we can't use placeholder selectors
@mixin grid-col($padding: $gutter) {
    margin-left: 0;
    margin-right: 0;
    padding-left: $padding;
    padding-right: $padding;

    // @include flex-basis(auto);
    // @include flex-grow(0);
    // @include flex-shrink(0);
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    // ie9 alternative
    .ie9 & {
        @include to-left;
        @include btcf;
    }
}

.columns {
    // @include display(flex);
    // @include flex-wrap(wrap);
    // @include flex-direction(row);
    // @include align-items(flex-start);
    // @include justify-content(flex-start);
    // @include align-content(flex-start);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;

    &.columns-center {
        // @include justify-content(center);
        justify-content: center;

        .ie9 & .column {}
    }

    &.columns-middle {
        // @include flex-wrap(nowrap);
        // @include align-items(center);
        flex-wrap: nowrap;
        align-items: center;
    }

    &.columns-stretch {
        // @include flex-wrap(nowrap);
        // @include align-items(stretch);
        flex-wrap: nowrap;
        align-items: stretch;
    }

    &.columns-vertical {
        // @include flex-direction(column);
        flex-direction: column;
    }

    & .columns {}

    // ie9 alternative
    .ie9 & > * {
        &.last-col {}
    }
}

.column {
    @include grid-col;
}
.column-no-pad {
    @include grid-col(0 !important);
}
.column-middle {
    &.column,
    &.column-no-pad {
        // @include align-self(center);
        align-self: center;
    }
}
.column-stretch {
    &.column,
    &.column-no-pad {
        // @include flex-grow(1);
        // @include align-self(stretch);
        flex-grow: 1;
        align-self: stretch;
    }
}

// the last column
.last-col {
    margin-left: auto !important;

    // ie9 alternative
    .ie9 & {
        @include to-right;
    }
}


// columns
$cols-1-4: 1 1, 2 1, 3 1, 3 2, 4 1, 4 3;
$cols-5: 5 1, 5 2, 5 3, 5 4;
$cols-6: 6 1, 6 5;
$cols-7: 7 1, 7 2, 7 3, 7 4, 7 5, 7 6;
$cols-8: 8 1, 8 3, 8 5, 8 7;
$cols-9-11: 9 1, 9 5, 9 4, 10 1, 11 1;
$cols-12: 12 1, 12 5, 12 7, 12 10, 12 11;
$cols-14: 14 1, 14 3, 14 5, 14 9, 14 11, 14 13;
$cols-16: 16 1, 16 3, 16 5, 16 7, 16 9, 16 10, 16 11, 16 13, 16 15;

// mobile
$cols-1to6: join( join( $cols-1-4, $cols-5 ), $cols-6 );

// phablet
$cols-7to8: join( $cols-7, $cols-8 );

// tablet
$cols-9to12: join( $cols-9-11, $cols-12);

// desktop
$cols-14to16: join( $cols-14, $cols-16 );

// grids
// grid system uses internal mediaqueries for flexibility
$grids: (
    'm': 'all' (
        $cols-1to6
    ),
    'p': '(min-width: 415px) and (max-width: 767px)' (
        join( $cols-1to6, $cols-7to8 )
    ),
    't': '(min-width: 768px) and (max-width: 1040px)' (
        join( join( $cols-1to6, $cols-7to8 ), $cols-9to12 )
    ),
    'd': '(min-width: 1041px)' (
        join( join( $cols-1to6, $cols-7to8 ), $cols-9to12 )
        // if more than 12 columns are needed join $cols-d too
        // join( join( join( $cols-1to6, $cols-7to8 ), $cols-9to12 ), $cols-14to16 )
    )
);

// push and pull classes defaults to false, set to true to enable them
$push: false;
$pull: false;

@each $name, $columns in $grids {
    $media: nth( $columns, 1 );
    $sizes: nth( $columns, 2 );
    @if ( $media != '' ) {
        @media #{unquote( $media )} {
            @each $cell in $sizes {
                $total: nth( $cell, 1 );
                $partial: nth( $cell, 2 );
                $desc: #{$partial}of#{$total};
                @if ( $partial == $total ) {
                    $desc: 'all';
                }
                .#{$name}-#{$desc} {
                    // @include grid-col;
                    width: percentage($partial / $total);
                }
                
                // push & pull classes
                @if ( $push == true ) {
                    .#{$name}-push-#{$partial}of#{$total}.#{$name}-push-#{$partial}of#{$total} {
                        margin-left: percentage($partial / $total);
                    }
                }
                @if ( $pull == true ) {
                    .#{$name}-pull-#{$partial}of#{$total}.#{$name}-pull-#{$partial}of#{$total} {
                        margin-left: auto;
                        margin-right: percentage($partial / $total);
                    }
                }
            }
        }
    }
}

/* Grid System - @end */
