/* Text Colors - @begin */

// hover color variation amount
// (percent to be applied to darken/lighten functions)
$hover-variation: 10%;

// colors list
// you can define different hover variations like:
// "default" : $color "darken|lighten" $hover-variation,
// "custom"  : $color "darken|lighten" 23%,
$text-colors: (
    "white" : $white "darken" $hover-variation,
    "black" : $black "lighten" $hover-variation,
);

// loop throug the colors list to generate classes
@each $name, $color in $text-colors {
    // text colors classes
    .text-#{$name},
    a.text-#{$name} {
        color: #{nth($color, 1)};
    }

    // text colors hover statuses
    a.text-#{$name}:hover {
        @if ( nth($color, 2) == 'lighten' ) {
            color: lighten( nth($color, 1), nth( $color, 3 ) );
        }
        @if ( nth($color, 2) == 'darken' ) {
            color: darken( nth($color, 1), nth( $color, 3 ) );
        }
    }

    // text colors hover overrides
    a.text-#{$name}-hover:hover {
        color: #{nth($color, 1)} !important;
    }
}

/* Text Colors - @end */
