/* ClearFix - @begin */
.cf {
    @include btcf;
}
/* ClearFix - @end */

/* Floats - @begin */
.to-left {
    @include to-left;
}
.to-right {
    @include to-right;
}
/* Floats - @end */

/* Display - @begin */
.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}
/* Display - @end */

/* Positions - @begin */
// position reset
.static {
    position: static;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
/* Positions - @end */

/* Centering - @begin */
.center {
    @include horizontal-center;
}
.middle {
    @include vertical-center;
}
.centered {
    @include total-center;
}
.absolute-center {
    @include horizontal-center(absolute);
}
.absolute-middle {
    @include vertical-center(absolute);
}
.absolute-centered {
    @include total-center(absolute);
}
/* Centering - @end */

/* Sizing - @begin */
.full {
    width: 100%;
}
.half {
    width: 50%;
}
.one-third {
    width: 33.33%;
    &:first-child,
    & + .two-third,
    .two-third + & {
        width: 33.34%;
    }
}
.two-third {
    width: 66.66%;
}
.one-fourth {
    width: 25%;
}
.three-fourth {
    width: 75%;
}
.one-fifth {
    width: 20%;
}
/* Sizing - @end */

/* Ratios - @begin */
.ratio {
    @include ratio;
}
@include ratios(1,1);
@include ratios(2,1);
@include ratios(3,2);
@include ratios(4,3);
@include ratios(16,9);
@include ratios(16,10);
@include ratios(1,2);

/* Ratios - @end */

.debug {
    border: 1px dashed red;
    background-color: rgba( 0,0,0, 0.1 );
    // padding: 0.2em;

    .debug {
        border-color: blue;
        background-color: rgba( 0,0,0, 0.1 );

        .debug {
            border-color: green;
            background-color: rgba( 0,0,0, 0.1 );

            .debug {
                border-color: orange;
                background-color: rgba( 0,0,0, 0.1 );

                .debug {
                    border-color: pink;
                    background-color: rgba( 0,0,0, 0.1 );
                }
            }
        }
    }
}
