/* Fonts - @begin */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Fonts - @end */
