/* Icons - @begin */

.icon {
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1.1em;
    overflow: hidden;

    &:before {
        content: "";
        display: inline-block;
        text-align: center;
        font-family: $icon;
    }

    &.icon-before {
        width: auto;
        padding-left: 1.2em;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &.icon-after {
        width: auto;
        padding-right: 1.2em;

        &:before {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
        }
    }
}
.icon-label {
    display: inherit;

    .icon:not(.icon-before):not(.icon-after) & {
        @include hide-text;
    }
}

// put all icons in this list
$icons: (
    star: "\f005"
);

@each $name, $gliph in $icons {
    .icon-#{$name}:before {
        content: "#{$gliph}";
    }
}
/* Icons - @end */
