/* Typography - @begin */

.font-sans {
    font-family: $sans;
}
.font-serif {
    font-family: $serif;
}
.font-mono {
    font-family: $mono;
}
.font-icon {
    font-family: $icon;
}

.icon {
    position: relative;
    display: inline-block;
    height: $icon-height;
    width: $icon-width;
    overflow: hidden;

    &:before {
        content: "";
        display: inline-block;
        text-align: center;
        font-family: $icon;
    }
}
.icon-label {
    display: inherit;
    @include hide-text;
}

// put all icons in this list
$icons: (
    star: "\f005"
);

@each $name, $gliph in $icons {
    .icon-#{$name}:before {
        content: "#{$gliph}";
    }
}

/* Typography - @end */
