/* Typography - @begin */

// Font faces
.font-sans {
    font-family: $sans;
}
.font-serif {
    font-family: $serif;
}
.font-mono {
    font-family: $mono;
}
.font-icon {
    font-family: $icon;
}

// Font modifiers
.font-light {
    font-weight: $light;
}
.font-normal {
    font-weight: $roman;
}
.font-bold {
    font-weight: $bold;
}

// Text modifiers
// alignments
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
// cases
.text-lower {
    text-transform: lowercase;
}
.text-upper {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-ucfirst {
    text-transform: lowercase;
    &::first-letter {
        text-transform: uppercase;
    }
}


/* Typography - @end */
